/* =================================================
   ==================== FONTS ======================
   ================================================= */

@font-face {
  font-family: leafy;
  src: url('fonts/leafy.otf')  format('opentype');
}

@font-face {
  font-family: futura-light;
  src: url('fonts/FuturaBTLight.ttf')  format('truetype');
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

/* =================================================
   ==================== HEADER =====================
   ================================================= */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 0 106px;
}

.header__nav-icon {}

.header__title {
  text-align: center;
  text-transform: uppercase;
}

.header__title--heading {
  margin-bottom: 10px;

  font-family: 'leafy';
  font-size: 2.8em;
  font-weight: 400;
  letter-spacing: .11em;
}

.header__title--tagline {
  font-family: 'futura-light';
  letter-spacing: .1em;
  font-size: 0.9em;
}

.season-display {
  font-family: 'leafy';
  font-size: 0.85em;
  letter-spacing: .11em;
}

.season-display__number {
  font-weight: 400;
}

.season-display__title {
  font-size: 1.5em;
}

.header__nav-icon--bar {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

/* =================================================
   ================= MAIN AREA LAYOUT ==============
   ================================================= */

.content-area {
  padding-top: 100px;
}

.left-column {
  background-color: indianred;
  float: left;
  width: 43%;
  height: 200vh;
}

.right-column {
  background-color: burlywood;
  float: right;
  width: 57%;
  height: 200vh;
}

/* =================================================
   ================ MAIN ARTICLE ===================
   ================================================= */

.main-article {
  display: flex;
  justify-content: flex-end;
}

.image-box {
  position: fixed;
  width: 36%;
  margin-top: 34px;
}

.main-article__image {
  width: 100%;
}

/* =================================================
   ============= SECONDARY ARTICLES ================
   ================================================= */

   