/* =================================================
   ============== COLOUR VARIABLES =================
   ================================================= */

:root {
  --purple: #5041A0;
  --pink: #e54451;
  --orange: #dd693f;
  --dark-blue: #303744;
}

/* =================================================
   ==================== FONTS ======================
   ================================================= */

@font-face {
  font-family: leafy;
  src: url('../fonts/leafy.woff')  format('woff');
}

@font-face {
  font-family: futura-light;
  src: url('../fonts/FuturaBTLight.ttf')  format('truetype');
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media (min-width: 1700px) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 1370px) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 610px) {  
  html {
    font-size: 43%;
  }
}

body {
  box-sizing: border-box;
  background-image: url('../img/home-background-SMALL.jpg');
  background-size: auto 100%;
}

/* =================================================
   ==================== HEADER =====================
   ================================================= */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 10.5rem 2.1rem;
  background-image: url('../img/post-background.jpg');
  box-shadow: 0 .48rem 3.2rem rgba(0,0,0,0.2);
  z-index: 2000;
}

@media (max-width: 740px) {
  .header {
    padding: 0.5rem 7rem 2.1rem;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 0.3rem 4rem 1.3rem;
  }
}


.header__title {
  text-align: center;
  text-transform: uppercase;
  margin-right: -7.2rem;
  color: var(--purple);
  transition: all .8s ease;
}

@media (max-width: 500px) {
  .header__title {
    margin-right: -3.2rem;
  }
}

.header__title--heading {
  margin-bottom: 1.6rem;
  font-family: 'leafy';
  font-size: 4.4rem;
  font-weight: 400;
  letter-spacing: .6rem;
}

@media (max-width: 500px) {
  .header__title--heading {
    font-size: 3.4rem;
    margin-bottom: .9rem;
  }
}

.header__title--tagline {
  font-family: 'futura-light';
  letter-spacing: .16rem;
  font-size: 1.44rem;
}

@media (max-width: 500px) {
  .header__title--tagline {
    font-size: 1.1rem;
  }
}

.season-display {
  font-family: 'leafy';
  font-size: 2rem;
  letter-spacing: .16rem;
  color: var(--purple);
  transition: all .8s ease;
}

@media (max-width: 500px) {
  .season-display {
    font-size: 1.3rem;
  }
}

.season-display__number {
  font-weight: 400;
}

.season-display__title {
  font-size: 2rem;
}

@media (max-width: 500px) {
  .season-display__title {
    font-size: 1.3rem;
  }
}

.navigation {
  background-color: rgb(256,255,246);
  height: 100vh;
  width: 25%;
  z-index: 4000;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 2px 0 2.9rem rgba(0,0,0,0.2);
  transform: translateX(-600px);
  transition: all .3s ease-in;
}

@media (max-width: 980px) {
  .navigation {
    width: 40%;
  }
}

@media (max-width: 780px) {
  .navigation {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .navigation {
    width: 60%;
  }
}

.crest {
  display: block;
  margin: 3.2rem auto;
}

.nav-toggle {
  display: none;
}

.header__nav-icon {
  cursor: pointer;
}

.header__nav-icon--bar {
  width: 4.6rem;
  height: .6rem;
  background-color: var(--purple);
  margin: .4rem 0;
  border-radius: .5rem;
  transition: background-color .8s ease;
}

@media (max-width: 500px) {
  .header__nav-icon--bar {
    width: 3rem;
    height: .4rem;
  }
}

.header__nav-icon:hover .header__nav-icon--bar {
  margin: .6rem 0;
}

.close-nav {
  cursor: pointer;
  position: absolute;
  top: 2rem;
  right: 3rem;
  background: none;
  border: none;
  font-size: 3.5rem;
  font-family: 'futura-light';
  font-weight: 600;
  color: var(--purple);
  transition: all .2s;
}

.close-nav:hover {
  transform: scale(1.2);
  color: #999;
}

.close-nav:focus {
  outline: none;
}

.list-container {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.seasons {
  list-style: none;
  margin-top: 4rem;
  line-height: 5.6rem;
}

.seasons__item {
  text-align: center;
  color: var(--purple);
  font-family: 'leafy';
  font-size: 4.4rem;
  font-weight: 400;
  letter-spacing: .6rem;
}

.pages-list {
  list-style: none;
}

.page {
  font-family: 'futura-light';
  color: var(--pink);
  letter-spacing: 0.5rem;
  font-size: 2.8rem;
  text-transform: lowercase;
  text-align: center;
}

/* =================================================
================= MAIN AREA LAYOUT ==============
================================================= */

.content-area {
  padding-top: 10rem;
  display: flex;
  justify-content: center;
}

@media (max-width: 980px) {
  .content-area {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .content-area {
    padding-top: 6rem;
  }
}

.left-column {
  flex-basis: 64rem;
}

@media (max-width: 1500px) {
  .left-column {
    flex-basis: 70rem;
  }
}

@media (max-width: 980px) {
  .left-column {
    flex-basis: 54rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 500px) {
  .left-column {
    flex-basis: 44rem;
  }
}

.right-column {
  flex-basis: 78rem;
}

/* =================================================
   ================ MAIN ARTICLE ===================
   ================================================= */

.main-article {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: -1;
}

@media (max-width: 1500px) {
  .main-article {
    justify-content: center;
  }
}

.image-box {
  position: fixed;
  margin-top: 3.4rem;
  width: 38%;
  height: 55.5rem;
  overflow: hidden;
  z-index: 10;
  transition: all .2s
}

@media (max-width: 1500px) {
  .image-box {
    height: 52rem;
  }
}

@media (max-width: 1340px) {
  .image-box {
    height: 46rem;
  }
}

@media (max-width: 980px) {
  .image-box {
    position: static;
    height: 54rem;
    margin-top: 5rem;
    width: 60%;
  }
}

@media (max-width: 840px) {
  .image-box {
    position: static;
    height: 72rem;
    margin-top: 5rem;
    width: 85%;
  }
}

@media (max-width: 740px) {
  .image-box {
    height: 65rem;
  }
}

@media (max-width: 610px) {
  .image-box {
    height: 54rem;
  }
}

@media (max-width: 500px) {
  .image-box {
    height: auto;
  }
}

.image-box:hover {
  transform: scale(1.01);
  box-shadow: 3px 3px 2.2rem rgba(0, 0, 0, .3);
}

.main-article__image {
  width: 100%;
  height: auto;
  z-index: 10;
}

.image-caption {
  z-index: 20;
  height: 30%;
  width: 100%;
  background-color: rgba(250,252,236,0.8);
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (max-width: 980px) {
  .image-caption {
    width: 60%;
    left: auto;
  }
}

@media (max-width: 840px) {
  .image-caption {
    width: 85%;
    height: 25%;
    left: auto;
  }
}

@media (max-width: 610px) {
  .image-caption {
    height: 38%;
  }
}

.image-caption__box {
  width: 100%;
  padding-left: 2rem;
  padding-top: .8rem;
}

@media (max-width: 1340px) {
  .image-caption__box {
    padding-top: 0;
  }
}

@media (max-width: 980px) {
  .image-caption__box {
    padding-left: 3rem;
    padding-top: 0;
  }
}

.image-caption__title {
  font-family: 'leafy';
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: .5rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 1340px) {
  .image-caption__title {
    font-size: 3.8rem;
  }
}

@media (max-width: 980px) {
  .image-caption__title {
    font-size: 5rem;
  }
}

@media (max-width: 500px) {
  .image-caption__title {
    font-size: 3.6rem;
  }
}

.image-caption__excerpt {
  font-family: 'futura-light';
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: .16rem;
}

@media (max-width: 980px) {
  .image-caption__excerpt {
    font-size: 2rem;
  }
}

/* =================================================
   ============= SECONDARY ARTICLES ================
   ================================================= */

.secondary-articles-section {
  margin-top: 3.4rem;
  margin-left: 3rem;
  width: 100%;
}

@media (max-width: 1500px) {
  .secondary-articles-section {
    margin-left: 0;
    width: 94%;
  }
}

@media (max-width: 980px) {
  .secondary-articles-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.secondary-article {
  display: flex;
  margin-bottom: 3rem;
  height: 19rem;
  transition: all .2s;
}

@media (max-width: 1500px) {
  .secondary-article {
    height: 21rem;
  }
}

@media (max-width: 1340px) {
  .secondary-article {
    height: 18rem;
  }
}

@media (max-width: 980px) {
  .secondary-article {
    height: 27rem;
    display: flex;
    width: 75%;
    margin-bottom: 5rem;
  }
}

@media (max-width: 840px) {
  .secondary-article {
    width: 85%;
  }
}

@media (max-width: 740px) {
  .secondary-article {
    height: 23rem;
  }
}

@media (max-width: 500px) {
  .secondary-article {
    height: auto;
    flex-direction: column;
  }
}

article.secondary-article:hover {
  transform: scale(1.01);
  box-shadow: 3px 3px 2.24rem rgba(0, 0, 0, .3);
}

.thumbnail {
  overflow: hidden;
  width: 100%;
}

@media (max-width: 740px) {
  .thumbnail {
    width: 110%;
  }
}

@media (max-width: 610px) {
  .thumbnail {
    width: 130%;
  }
}

@media (max-width: 500px) {
  .thumbnail {
    width: 100%;
  }
}

.thumbnail__image {
  width: 83%;
  height: auto;
  position: relative;
  bottom: 3rem;
}

@media (max-width: 1500px) {
  .thumbnail__image {
    width: 90%;
    bottom: 1.5rem;
  }
}

@media (max-width: 980px) {
  .thumbnail__image {
    width: 85%;
    bottom: 0;
  }
}

@media (max-width: 840px) {
  .thumbnail__image {
    width: 100%;
  }
}

@media (max-width: 840px) {
  .secondary-article__content {
    margin-left: 4rem;
  }
}

@media (max-width: 740px) {
  .secondary-article__content {
    margin-top: -2rem;
  }
}

@media (max-width: 500px) {
  .secondary-article__content {
    margin-left: 0;
  }
}

.secondary-article__heading {
  font-family: 'leafy';
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: .18rem;
  margin-bottom: 2rem;
}

@media (max-width: 1340px) {
  .secondary-article__heading {
    font-size: 3.8rem;
  }
}

@media (max-width: 980px) {
  .secondary-article__heading {
    font-size: 5rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
}

@media (max-width: 740px) {
  .secondary-article__heading {
    font-size: 4.6rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 500px) {
  .secondary-article__heading {
    text-align: center;
    margin-top: 4.2rem;
  }
}

.secondary-article__excerpt {
  font-family: 'futura-light';
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: .16rem;
}

@media (max-width: 980px) {
  .secondary-article__excerpt{
    font-size: 2rem;
  }
}

@media (max-width: 740px) {
  .secondary-article__excerpt {
    font-size: 1.8rem;
  }
}